/* 상세조회 전체 영역 */
.board-write {
    width: 1000px;
    min-height: 700px;
    border: 1px solid #ccc;
    margin: 50px auto;
    padding: 20px;
}



h1 {
    justify-self: center;
}

.Title-container {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #D4D4D4;
    border-top: 2px solid #D4D4D4;
    margin: 10px 0x 0px 0px;


}

.Title {
    font-size: 25px;
    font-weight: 500;
    color: #333;
    white-space: nowrap;
    /* 텍스트 줄바꿈 방지 */
}

.subTitle {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 5px;

}

.subTitle::placeholder {
    color: #999;
}

.img-box {
    display: flex;
    justify-content: space-between;
}


/* 이미지를 감싸는 div */
.boardImg {
    width: 230px;
    height: 230px;
    display: inline-block;
    text-align: center;

    position: relative;
}

.boardImg>label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
}

.inputImage {
    display: none;
}


/* 이미지 */
.boardImg img {
    max-width: 100%;
    max-height: 100%;
}

/* 썸네일만 이미지 크게 */
.thumbnail {
    width: 300px;
    height: 300px;
}


/* 내용 */
.board-content {
    padding: 30px 0;
    margin: 30px 0;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    font-size: 18px;
}

[name="boardContent"] {
    width: 100%;
    height: 400px;
    resize: none;
    font-size: 1.1em;
}



/* 버튼 영역 */
.board-btn-area {
    text-align: right;
}

/* 버튼 */
.board-btn-area button {
    width: 80px;
    height: 30px;

    font-weight: bold;
    border: 0;
    background-color: #27374D;
    color: white;

    cursor: pointer;
}

.board-btn-area button:hover {
    background-color: white;
    color: #27374D;
    border: 2px solid #27374D;
}


/* 삭제 버튼 */
.delete-image {
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 20px;
    cursor: pointer;
}

body {
    background-color: white !important;
}



free-container {
    text-align: center;
    margin-top: 20px;
}