#commentTitle {
    text-align: center;
    justify-self: center;
    border-top: 2px solid #27374D;
    border-bottom: 2px solid #27374D;
    width: 1000px;

}

.comment-writer img {
    width: 40px;
    height: 40px;
}

/*댓글*/
.comment-write-area {
    display: flex;
    min-height: 85px;
    justify-content: center;
    padding: 0px 19% 0px 19%;
    margin: 30px 0;
}

.comment-write-area>textarea {
    flex-basis: 75%;
    margin-right: 10px;
    resize: none;
}

.comment-write-area>button {
    flex-basis: 7%;
    height: 85px;

    font-weight: bold;
    border: 0;
    background-color: #27374D;
    color: white;
    cursor: pointer;
}

#commentList {
    padding: 0;
    list-style: none;
}

.comment-writer {
    display: flex;
    align-items: center;
}

.comment-writer>img {
    width: 40px;
    height: 40px
}

.comment-writer>span {
    font-weight: bold;
    margin-left: 10px;
}

.comment-date {
    font-size: 0.8em;
    color: #aaa;
}


.comment-btn-area {
    display: flex;
    justify-content: flex-end;
}

/* 버튼 */
.comment-btn-area button {
    width: 50px;
    height: 30px;
    margin-left: 10px;

    font-weight: bold;
    border: 0;
    background-color: white;
    color: #cdcdcd;

    cursor: pointer;
}

.comment-btn-area button:hover {
    background-color: white;
    color: #27374D;
    border: 2px solid #27374D;
}

.update-textarea {
    width: 100%;
    height: 90px;
    resize: none;
}

.comment-row {
    /* border-top : 2px solid #27374D; */
    padding: 30px 25% 0px 25%;
    justify-content: center;

}


/* 댓글 내용 */
.comment-content {
    white-space: pre-wrap;
    /* 작성된 문자열 모양 그대로(공백 유지)*/
}


body {
    background-color: white !important;
}