<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${exhibitionName}">게시판 이름</title>

    <link rel="stylesheet" th:href="@{/css/board/exhibition/exhibitionDetail-style.css}">
    <link rel="stylesheet" th:href="@{/css/main-style.css}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/> -->

    <!-- 좋아요 heart? -->
    <script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script>
      <!-- notification -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
    <!-- <div th:replace="common/header :: header"></div> -->
    <th:block th:replace="~{/common/header}">header.html</th:block>
    <div id="page-wrapper">

        <main>

            <!-- 본문: -->
            <div class="content-wrapper"> 
                <!-- 본문 상단 영역 -->
                <div class="content-top">
                    <div class="content-top-container">
                        <div class="exhibition-detail-btn-chatbot">
							 <th:block th:if="${session.loginMember}">
	                            <button type="button" id="chatbotBtn">전시에 관해 AI에게 물어볼게 있어요</button>
							 </th:block>
                        </div>
                    </div>
                </div>

                <!-- 본문 중앙 영역 -->
                <div class="content-middle">
                        
                    <!-- 본문 중앙-Center: 실제 모든 내용 여기에 -->
                    <div class="content-middle-container" th:object="${exhibition}">                       
                        <div class="section-container left"   id="sectionContainerLeft">
                            <div class="section-container-left top">

                                <!-- 프로필 이미지 -->
                                <!-- 프로필 이미지가 없는 경우 기본 이미지 -->
                                <img th:unless="*{profileImage}" th:src="@{/images/board/exhibition/member/user.png}">
                                <!-- 프로필 이미지가 있는 경우 회원 프로필이미지에서 꺼내오기 -->
                                <img th:if="*{profileImage}" th:src="@{*{profileImage}}">  

                                <span class="exhibition-detail-writer" th:text="*{memberNickname}">
                                    회원닉네임
                                </span>
                                <!-- 좋아요 하트 -->
                                <span class="exhibition-detail-like-area">
                                    <span class="heart-wrapper">
                                        <i class="fa-heart" th:classappend="*{likeCount} ? fa-solid : fa-regular" id="exhibitionLike"></i>                                 
                                    </span>
                                    <span  class="like-count"  th:text="*{likeCount}">좋아요 수</span>
                                </span>
                            </div>

                            <section class="section left">
                                <div class="sec-left-div1 exhibition-image">
                                    <!-- 전시의 경우, thumbnail을 placeholder로 지정해놓았음. 
                                    실제 default/포스터(있는경우)는 imageList에 path + originalName으로 들어가있음 -->
                                    <div class="image-wrapper"> 
                                        <!-- 이미지가 있을 경우: 우선 thumbnail이미지가 있는 경우 => 전시의 경우는 이거 무시 -->
                                        <th:block th:if="${#lists.size(exhibition.imageList) > 0 }">
                                            <!-- thumbnail = exhibition.getImageList().get(0); // 넘어온 thumbnail은 BoardImage 객체임 -->
                                            <th:block th:if="${thumbnail}">
                                                <h5>썸네일</h5>
                                                <div class="img-box">
                                                    <div class="exhibitionImg thumbnail">
                                                        <img th:src="|${thumbnail.imgPath}${thumbnail.imgOrig}|">
                                                        <a th:href="|${thumbnail.imgPath}${thumbnail.imgOrig}|" 
                                                            th:download="${thumbnail.imgOrig}">포스터 이미지 저장</a> 
                                                    </div>
                                                </div>
                                            </th:block>
                                        </th:block>
                            
                                        <th:block th:if="${#lists.size(exhibition.imageList) >= start}"> <!-- 썸네일 없는 경우 -->
                                            <h5>업로드 이미지</h5>
                                            <div class="img-box">
                                                <th:block th:each="i : ${#numbers.sequence(0, #lists.size(exhibition.imageList)-1, 1)}">
                                                    <div class="exhibitionImg" th:with="path=|${exhibition.imageList[i].imgPath}${exhibition.imageList[i].imgOrig}|"> 
                                                        <!-- [ [${path}] ] -->
                                                        <img th:src="${path}">
                                                        <a th:href="${path}"
                                                        th:download="${exhibition.imageList[i].imgOrig}">다운로드</a>                
                                                    </div>
                            
                                                </th:block>
                                            </div>
                                        </th:block>
                                    </div>


                                </div>

                                <!-- 내용 -->
                                <div class="sec-left-div2 exhibition-description" >
                                    <div class="exhibition-description-title">전시설명</div>
                                    <div class="exhibition-description-text-wrapper">
                                        <div class="exhibition-description-text">[[${exhibition.exhibitContent}]]</div>
                                    </div>
                                </div>
                            </section>
                            
                        </div>                             

                        <div class="section-container right" id="sectionContainerRight">
                            <div class="section-container-right top">
                                <span class="exhibition-detail-create-date">
                                    <p th:unless="*{exhibitUpdateDate}"> 
                                        <span>작성일</span> [[*{exhibitCreateDate}]] </p>     
                    
                                    <!-- 수정한 게시글인 경우 -->
                                    <p th:if="*{exhibitUpdateDate}"> 
                                        <span>마지막 수정일</span> [[*{exhibitUpdateDate}]] </p>   
                                </span>
                                <span class="exhibition-detail-click">
                                    <p> <span>조회수</span>[[*{readCount}]] </p> 
                                </span>                   
                            </div>
                            <section class="section right">
                                <div class="sec-right-div1 exhibition-lines">
                                    <!-- 제목 -->
                                    <div class="exhibition-title" th:utext="|전시제목: *{exhibitTitle} <span> - ${communityName}</span>|">전시제목</div>
                                    <!-- 전시부제목 -->
                                    <div class="exhibition-subtitle"><span th:if="*{exhibitSubTitle}" th:text="|전시부제목: *{exhibitSubTitle}|">전시부제목</span><span th:unless="*{exhibitSubTitle}" th:text="'전시부제목:TBA'">전시부제목: TBA</span>
                                    </div>

                                    <!-- 전시기관명 -->
                                    <div class="exhibition-info institution">
                                        <span th:if="*{exhibitInstitution}" th:text="|전시기관: *{exhibitInstitution}|">전시기관명</span><span th:unless="*{exhibitInstitution}" th:text="'전시기관:TBA'">전시기관: TBA</span>
                                    </div>
                                    <!-- 장소 -->
                                    <div class="exhibition-info location">
                                        <span th:if="*{exhibitLocation}" th:text="|전시장소: *{exhibitLocation}|">전시장소</span><span th:unless="*{exhibitLocation}" th:text="'전시장소:TBA'">전시장소: TBA</span>
                                    </div>
                                    <!-- 전시기간 -->
                                    <div class="exhibition-info date">
                                        <span th:if="*{exhibitDate}" th:text="|전시기간: *{exhibitDate}|">전시기간</span><span th:unless="*{exhibitDate}" th:text="'전시기간:TBA'">전시기간: TBA</span>                                        
                                    </div>
                                    <!-- 장르 -->
                                    <div class="exhibition-info genre">
                                        <span th:if="*{exhibitGenre}" th:text="|장르: *{exhibitGenre}|">장르</span><span th:unless="*{exhibitGenre}" th:text="'장르:TBA'">장르: TBA</span>
                                    </div>
                                    <!-- 참여작가 -->
                                    <div class="exhibition-info author">
                                        <span th:if="*{exhibitAuthor}" th:text="|참여작가: *{exhibitAuthor}|">참여작가</span><span th:unless="*{exhibitAuthor}" th:text="'참여작가:TBA'">참여작가: TBA</span>
                                    </div>
                                    <!-- 주최후원 -->
                                    <div class="exhibition-info contributor">
                                        <span th:if="*{exhibitContributor}" th:text="|주최후원: *{exhibitContributor}|">주최후원</span><span th:unless="*{exhibitContributor}" th:text="'주최후원:TBA'">주최후원: TBA</span>
                                    </div>
                                    <!-- 문의 -->
                                    <div class="exhibition-info contact">
                                        <span th:if="*{exhibitContact}" th:text="|문의: *{exhibitContact}|">문의</span><span th:unless="*{exhibitContact}" th:text="'문의:TBA'">문의: TBA</span>
                                    </div>
                                    <!-- 대상연령 -->
                                    <div class="exhibition-info audience">
                                        <span th:if="*{exhibitAudience}" th:text="|대상연령: *{exhibitAudience}|">대상연령</span><span th:unless="*{exhibitAudience}" th:text="'대상연령:TBA'">대상연령: TBA</span>
                                    </div>
                                    <!-- 입장료 -->
                                    <div class="exhibition-info charge">
                                        <span th:if="*{exhibitCharge}" th:text="|입장료(원): *{exhibitCharge}|">입장료</span>
                                        <span th:unless="*{exhibitCharge}" th:text="'입장료(원):TBA'">입장료: TBA</span>
                                    </div>

                                    <div class="sec-right-div2 btn-wrapper">
                                        <div class="exhibition-detail-btn-purchase">
                                            
                                                <form th:action="@{/payment/pay}" method="post">

                                                    <input type="hidden" name="boardNo" th:value="*{exhibitNo}" />
                                                    <input type="hidden" name="memberNo" th:value="*{memberNo}" />
                                                    <input type="hidden" name="showTitle" th:value="'showTitle info not available'" />
                                                    <input type="hidden" name="showName" th:value="*{exhibitTitle}" />
                                                    
                                                    <input th:unless="*{exhibitDate}" type="hidden" name="showDate" th:value="'showDate info not available'" />
                                                    <input th:if="*{exhibitDate}" type="hidden" name="showDate" th:value="*{exhibitDate}" />
                                                    <input type="hidden" name="showPlace" th:value="*{exhibitInstitution}" />
                                                    <input type="hidden" name="memberNickname" th:value="*{memberNickname}" />
                                                    <input type="hidden" name="memberTel" th:value="*{memberTel}" />
                                                    <input type="hidden" name="memberEmail" th:value="*{memberEmail}" />
                                                    <input type="hidden" name="eventType" th:value="'exhibition'" />
                                                    <input type="hidden" name="PriceType" th:value="'exhibition: price-type info NA'" />
                                                    <input type="hidden" name="Price" th:value="*{exhibitCharge}" />
                                                    <!-- exhibitCharge=7777777: 관람료 정보 비정상/알기 어려운 경우에 assign된 값 -->
                                                    <!-- <button id="purchaseBtn" th:attr="*{exhibitCharge} == 7777777 ? 'disabled' : null">예매하기</button> -->
                                                    <th:block th:if="${session.loginMember}">
                                                        <button type="submit" id="purchaseBtn" >예매하기</button>
                                                    </th:block>
                                                </form>
                                            

                                        </div>
                                    </div>

                                </div>
                                <div class="sec-right-div3 exhibition-placeholder">
                                    <div class="placeholder-area1">placeholder1</div>
                                    <div class="placeholder-area2">placeholder2</div>
                                </div>
                            </section>
                        </div> 
                    </div>
                </div>


                <!-- 본문 하단 영역 -->
                <div class="content-bottom">
                    <div class="content-bottom-btn-wrapper">
                        <th:block th:if="${session.loginMember?.memberNo == exhibition.memberNo}">
                            <div class="exhibition-detail-btn-update">
                                <button type="button" id="updateBtn">수정</button>
                            </div>
                            <div class="exhibition-detail-btn-delete">
                                <button type="button" id="deleteBtn">삭제</button>
                            </div>              
                        </th:block>
                        
                        <div class="exhibition-detail-btn-goList">
                            <button type="button" id="goToListBtn">목록으로</button>
                        </div>
                    </div>

                    <div class="content-bottom-section-wrapper">
                        <section class="section-bottom">
                            <div class="section-bottom-div1">test</div>
                        </section>
                    </div>
                </div>
            </div>   
        </main>

        <!-- footer.html -->
        <!-- <div th:replace="common/footer :: footer"></div> -->
        <th:block th:replace="~{common/footer}">footer.html</th:block>
    
    
        <script th:inline="javascript"> 
    
            const loginMemberNo = /*[[${session.loginMember.memberNo}] ]*/ "로그인한 회원 번호"; 
            const memberNickname = /*[[${session.loginMember.memberNickname}] ]*/ "로그인한 회원 닉네임"; // 로그인 했을 경우 (로그인 안했으면 Null로 되어 빈문자열 )
    
            if(loginMemberNo == null) loginMemberNo = ""; // 로그인 안했을 경우; 
    
            const exhibitNo =  /*[[${exhibition.exhibitNo}]]*/ "게시글 번호";
    
            const communityCode =  /*[[${communityCode}]]*/ "게시글 코드"; 
    
            const exhibitTitle =  /*[[${exhibition.exhibitTitle}]]*/ "게시글 제목";
            
        </script>
    
        <!-- confirm-alert-message window 창: footer.html에서 이미 declared 됐음 -->
        <!-- <script th:inline="javascript">
            const message = /*[[${message}]]*/ "전달 받은 message";
    
            console.log(message)
    
            if (message != null) alert(message);
    
        </script> -->
    
        <!-- 우측 상단 로그인 멤버 정보/ Notification 표시 -->
        <script th:src="@{/js/main.js}"></script>
        <!-- 로그인 정보 JS 변수 (모든 페이지에서 공통으로 렌더링됨): header.html에서 이미 declared 됐음 -->
        <!-- <script th:inline="javascript">
            const notificationLoginCheck = /*[[${session.loginMember} ? true : false]]*/ false;
            const notificationDefaultImage = /*[[@{/images/common/user.svg}]]*/ "/images/common/user.svg";
        </script> -->
    
        <script th:src="@{/js/board/exhibition/exhibitionDetail.js}"></script>
        
    </div>
    

</body>
</html>