/* section, div{ border : 1px solid black;}  */

/* === 전체 초기화 및 공통 설정 === */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* === 전체 페이지 레이아웃 === */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.main-header,
.main-nav,
.main-footer {
    height: 60px;
    background-color: #ddd;
    width: 100%;
}

/* === 본문 전체 === */
/* .content-wrapper {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    
    margin-top: 80px;
} */


/* ##########################################################################################*/
/* ##########################################################################################*/


/* 테마변경 */
#changeTheme{
    display: none;
}
label[for="changeTheme"]{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: #e94e77 ;
    display : inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}


label[for="changeTheme"]:hover{
    width: 100px;
    height: 30px;
    border: 1px solid #e94e77;
    border-radius: 10px;
    font-weight: bold;
    color: #e94e77;
    cursor: pointer;
    background-color: white ;
    display : inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}




:root[color-theme='light'] {
    --background: white;
    --boxColor: white;
    --borderBottom : 0;
    --borderRadius : 0px;
    --margin : 0px;
    --border : 1px solid black;
    --contentLeft : 30%;
    --contentRight : 70%;
    --chattingHight : 570px;
    --chattingWidth : 80%;
    --display : block;
    --chattingColor : yellow;
    --listColor : white;
    --select : #ddd;
    --fontColor : black;
    --colorWhite : white;
}


:root[color-theme='pink'] {
    --background: rgba(250,177,206,0.5);
    --boxColor: #dddfe6;
    --sendBtn : #f199bc;
    --borderRadius : 10px;
    --margin : 5px;
    --border : 1px solid #e94e77 ;
    --borderBottom : 1px solid #e94e77 ;
    --colorWhite : #e94e77;
    --contentLeft : 29%;
    --contentRight : 69%;
    --chattingHight : 555px;
    --chattingWidth : 79.5%;
    --display : flex;
    --chattingColor :rgb(249,163,198);
    --listColor : rgba(249,163,198,0.6);
    --select : #e94e77;
    --fontColor : white;

}




/* 채팅방 생성 버튼 */
#openChatRoom {
    width: 120px;
}


/*  채팅방 생성 모달*/
#chat-modal {
    justify-content: center;
    align-items: center;
}


.modal-body {
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}


#chatRoomTitle {
    width: 250px;
}


/* 추가 버튼 */
#addTarget{
    margin: 30px 0 0 70px;
    width: 100px;
    height: 30px;
    background-color: #455BA7;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}




/* 팝업레이어 */
#addTargetPopupLayer{
    position: fixed;
    margin: auto;
    /* top: 0; */
    top: 5;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    background-color: #f5f5f5;
    border: 5px inset #455ba8;
    width: 450px;
    height: 600px;


}


.popup-layer-close{ display: none;  }


#closeBtn{
    position: absolute;
    top: -15px;
    right: -30px;
    font-size: 30px;
    cursor: pointer;
}








.target-input-area{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid black;
}






#targetInput{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 3px 10px;
    font-size: 20px;
}


#resultArea{
    list-style: none;
    overflow: auto;
    height: 550px;
}


.result-row{
    width: 100%;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.result-row:hover{  background-color: #dadada;}


.result-row > *{
    margin-right: 10px;
    user-select: none;
}




.result-row-img{ width: 40px;}




/* 채팅창 영역 */
.chatting-area {
    margin: auto;
    height: 650px;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    background: var(--background);
    border-radius: var(--borderRadius);
}


/*  채팅 목록 */
.chatting-list{
    width:  var(--contentLeft);
    border-radius: var(--borderRadius);
    margin: var(--margin);
    border: var(--border);
    list-style: none;
    overflow: auto;
}


.chatting-item{
    height: 12%;
    display: flex;
    padding: 5px 0;
    border: var(--borderBottom);
    border-bottom: var(--border);
    border-radius: var(--borderRadius);
    margin: var(--margin);
    cursor: pointer;
    background-color: var(--listColor);
}


.chatting-item * {
    pointer-events: none;
}


.chatting-item > div{ height: 100%; text-align: center;}
.item-header{
    width : 25%;
   
    display: var(--display);
}
.item-body{
    width : 75%;
    padding : 2px 0;
}
.item-body> p{
    display: flex;
    justify-content: space-between;
}


.chatting-item.select{
    background-color: var(--select)
}




.list-profile{
    max-width: 65px;
    max-height: 65px;
    border-radius: var(--borderRadius);
    padding-left: var(--margin);
}


/* .target-name{
    font-size: 1.2em;
    font-weight: bold;
}


.recent-send-time{
    margin-right: 5px;
} */

/* 아이디 글자수 늘어날때 잘려보이는 거 수정위해 글자크기 좀 줄이자 */

.target-name{
    font-size: 1em;
    font-weight: bold;
}


.recent-send-time{
    margin-right: 5px;
    font-size: 10px;
}





.item-body > div{
    display: flex;
    justify-content: space-between;
}


.recent-message{
    width: 180px;


    /* 여러 줄 말줄임 처리 */
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;


    /*  줄바꿈 처리 */
    word-break: break-all;
}


.not-read-count{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
    margin: 10px 10px 0 0;
}




/* 채팅 내용 */
.chatting-content{
    width: var(--contentRight);
}


.display-chatting {
    width: 100%;
    height: var(--chattingHight);
    border: var(--border);
    border-radius: var(--borderRadius);
    margin: var(--margin);
    overflow: auto;
    list-style: none;
    padding: 10px 10px;
}


.display-chatting > li{
    margin: 10px 0;
}


.target-chat{
    display: flex;
    align-items: flex-start;
}
.target-chat > img{
    width: 50px;
    margin-right: 5px;
    border-radius: var(--borderRadius);
    height: 50px;
}


.chat {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    background-color: #eee;
    text-align: left;
    max-width: 500px;
    word-break: break-all;
    white-space: pre-wrap;
}




.input-area {
    height: 80px;
    width: 100%;
    display: flex;
    margin: var(--margin);
}


#inputChatting {
    padding: 3px;
    font-size: 1.3em;
    width: var(--chattingWidth);
    resize: none;
    border-radius: var(--borderRadius);
    border: var(--border);
    margin-right: var(--margin);
}


#send {
    width: 20%;
    border-radius: var(--borderRadius);
    border: var(--border);
    background: var(--colorWhite);
    font-size: 16px;
    color: var(--fontColor);
}


.my-chat {
    text-align: right;
}


.my-chat>p {
    background-color: var(--chattingColor);
}


.chatDate {
    font-size: 9px;
}


#exit-area {
    text-align: right;
    margin-bottom: 10px;
}




.exit {
    text-align: center;
}


.exit>p {
    background-color: rgba(0, 0, 0, 0.3);
}




.chat-exit {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}




/* 스크롤바 전체 기본 꾸미기 */
.chatting-list::-webkit-scrollbar {
    width: 10px; /* 스크롤 바의 너비 */
    height: 10px; /* 스크롤 바의 높이 */
    background-color: var(--background); /* 스크롤 바의 배경색 */
    border-radius: 5px;
    margin: 10px 0;
}


/* 스크롤바 막대 꾸미기 */
.chatting-list::-webkit-scrollbar-thumb {
    background-color: var(--select); /* 스크롤 바의 색상 */
    border-radius: 5px;
    margin: 10px 0;
}
