<footer th:fragment="footer" class="footer">
  <div class="footer-left">
    <div class="logo">
      <img th:src="@{/images/common/moa_logo.png}" alt="이미지 준비중" id="logo-image" />
    </div>
    <p>
      상호 : (주) 모아컴퍼니 | 대표 팀 : Ctrl F5<br />
      사업자등록번호 : 000-00-00000 | 영업신고번호 : 제1234-서울 종로-0093호<br />
      연락처 : 02-0123-4567 | 팩스 : 001-0032-0000 | 이메일 : moa_00@naver.com<br />
      주소 : 서울특별시 종로구 관철동 중앙빌딩 9F
    </p>
    <p>Copyright ⓒ 모아컴퍼니</p>
  </div>

  <div class="footer-right">
    <ul>
      <li><a href="#">Team</a></li>
      <li><a href="#">Vision</a></li>
      <li><a href="#">Performance</a></li>
      <li><a href="#">Exhibitions</a></li>
      <li><a href="#">Follow Us</a></li>
    </ul>

    <div class="sns">
      <a href="#"><img th:src="@{/images/common/instagram-logo.svg}" alt="인스타그램" /></a>
      <a href="#"><img th:src="@{/images/common/Facebook-logo.svg}" alt="페이스북" /></a>
      <a href="#"><img th:src="@{/images/common/message-logo.svg}" alt="메시지" /></a>
    </div>
  </div>
</footer>

<script th:inline="javascript">

    
    const message = /*[[${message}]]*/ "전달 받은 message";
    

    console.log(message)

    if(message != null) alert(message);



</script>
