<header th:fragment="header" class="header">
  <section>
    <a th:href="@{/}">
      <img th:src="@{/images/common/moa_logo.png}" alt="이미지 준비중" id="logo-image" />
    </a>
  </section>

  <nav class="nav">
    <ul>
      <!-- 공연 -->
      <li class="menu-item">
        <a href="#">공연</a>
        <div class="submenu">
          <div class="submenu-left">
            <h2>공연</h2>
            <span>performance</span>
          </div>
          <div class="submenu-right">
            <ul>
              <li><a href="/board/4/pmTypeList">전체 공연목록 조회</a></li>
              <li><a href="/board/4/pmSearchList">통합 검색</a></li>
              <li><a href="#">지도 검색</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!-- 전시 -->
      <li class="menu-item">
        <a href="#">전시</a>
        <div class="submenu">
          <div class="submenu-left">
            <h2>전시</h2>
            <span>exhibition</span>
          </div>
          <div class="submenu-right">
            <ul>
              <li><a th:href="@{/board/3}">전체 전시목록 조회</a></li>
              <li><a href="#">전시 일정</a></li>
              <li><a href="#">전시 지도 검색</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!-- 커뮤니티 -->
      <li class="menu-item">
        <a href="#">커뮤니티</a>
        <div class="submenu">
          <div class="submenu-left">
            <h2>커뮤니티</h2>
            <span>community</span>
          </div>
          <div class="submenu-right">
            <ul>
              <li><a th:href="@{/board/1}">자유게시판</a></li>
              <li><a th:href="@{/reviewboard/2}">리뷰게시판</a></li>
              <li><a th:href="@{/chatting}">만남의 광장</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!-- 고객센터 -->
      <li class="menu-item">
        <a th:href="@{/board/5}">고객센터</a>
        <div class="submenu">
          <div class="submenu-left">
            <h2>고객센터</h2>
            <span>support</span>
          </div>
          <div class="submenu-right">
            <ul>
              <li><a href="#">공지사항</a></li>
              <li><a href="#">문의하기</a></li>
              <li><a href="#">이용안내</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <!-- 알림 영역 -->
  <section class="notification-container" th:if="${session.loginMember}">
    <!-- 알림 버튼 -->
    <button class="notification-btn fa-regular fa-bell" id="my-element">
      <!-- 알림 개수 표시 -->
      <div class="notification-count-area"></div>
    </button>
    <!-- 알림 목록 -->
    <ul class="notification-list"></ul>
  </section>

  <!-- 로그인 된 경우 -->
  <div th:if="${session.loginMember != null}" class="profile-container">
    <button class="profile-btn">
      <img th:src="@{/images/common/user.svg}" alt="프로필 이미지" id="signin-image" />
      <span id="signin-text" th:text="${session.loginMember.memberNickname}">유저닉네임</span>
    </button>
    <!-- 두가지 선택할 수 있게 하는 모달 -->
    <ul class="profile-menu">
      <li><a th:href="@{/mypage/info}">마이페이지</a></li>
      <li><a th:href="@{/member/logout}">로그아웃</a></li>
    </ul>
  </div>

  <!-- 로그인 안 된 경우 -->
  <a th:if="${session.loginMember == null}" th:href="@{/member/login}">
    <img th:src="@{/images/common/user.svg}" alt="이미지 준비중" id="signin-image" />
    <span id="signin-text">sign in</span>
  </a>
</header>

<!-- 로그인 정보 JS 변수 (모든 페이지에서 공통으로 렌더링됨) -->
<script th:inline="javascript">
  const notificationLoginCheck = /*[[${session.loginMember} ? true : false]]*/ false;
  const notificationDefaultImage = /*[[@{/images/common/user.svg}]]*/ "/images/common/user.svg";
</script>

<script th:src="@{/js/header.js}"></script>