<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/onequestion.css">

</head>
<body>
    <section class="blank">
        
    </section>

    <section class="start">

        <div class="start-left"></div>
        <div class="start-center">1:1 문의 하기</div>
        <div class="start-right">
        

    </section>

    <section class="onequestion-container">

        <section class="onequestion-area">

            <section class="select-type">
                <div class="answer-type">문의 유형<span class="redDot">*</span></div>

                <div class="div-selectbox">

                    <select name="type" id="selectType-box">
                        <option selected>문의 유형을 선택해주세요</option>
                        <option class="option-font" value="1">티켓</option>
                        <option class="option-font" value="2">커뮤니티</option>
                        <option class="option-font" value="3">회원/공통/기타</option>
    
                    </select>

                </div>
                
            </section>

            <section class="select-typeContent">
                <div class="answer-typeContent">문의 내용<span class="redDot">*</span></div>

                <div>
                    <input class="input-answer-title" type="text" placeholder="제목을 입력해주세요">

                    <input class="input-content" type="text" placeholder="선택하신 유형에 맞는 문의사항을 자세히 적어주세요!">

                </div>
                
            </section>

            <section class="submit-btn-section">
                
                <div>

                    <button class="submit-btn">
                        제출하기
    
                    </button>

                </div>

            </section>

            

            <section>

            </section>

        </section>


    </section>


















    
</body>
</html>