<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/board/csboard/questionList.css}">
</head>
<body>

    <main th:with="pagination=${pagination}, communityCode=${communityCode}, qCode=${qCode},
    questionList=${questionList}, qCodeList=${qCodeList}">



    ${questionList}
        <th:block th:replace="~{common/header}"></th:block>
        

        <section class="questionList-container">

            <!-- 게시글 목록 조회 결과가 비어있는 경우 -->
            

                ssssssss
                <td>
                    문의내역이 없어요
                </td>

            
            

                <section class="questionList-container">
                            
                    <section class="questionList-area">
        
                        <section class="top-title">
            
                            <p>내 문의 내역</p>
            
                        </section>
            
                        <!-- 게시글 목록이 조회된 경우 --> 
        
                        <nav>
                            <a th:each="q : ${qCodeList}" 
                                th:href="@{/board/{communityCode}/questionList/{qCode}
                                (communityCode=${communityCode}, qCode=${qCode}, cp=${pagination.currentPage})}"
                                th:text="${q.qName}"></a>
        
        
                        </nav>
                        
                        <table>
        
                            <tbody>
        
                                <tr th:each="boardJtw : ${questionList}">
                                    <td>
                
                                        
                                        <a th:href="@{board/{communityCode}/questionList/{qCode}/{boardNo}(boardCode=${boardCode}, qCode=${qCode}, boardNo=${boardJtw.boardNo}, 
                                                        cp=${pagination.currentPage})}" th:utext="${boardJtw.boardTitle}"></a>
                                        
        
                                    </td>
        
                                    <td th:text="${#dates.format(boardJtw.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                                </tr>
        
        
                            </tbody>
        
        
        
                        </table>
                        
                
                
                        <section>
                            
            
                            
                        </section>
        
                    </section>
        
        
                </section>    
        
            
            

        </section>       
    



    </main>
    
</body>
</html>