body {

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onequestion-container {

    
   
    width: 1400px;
    min-height: 100vh;
    justify-content: center;
    position: relative;

    height: 1500px;

    left: 0;

    border: 1px solid pink;



}

.onequestion-area{

    width: 1400px;
    height: 2000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

    border: 1px solid black;
    

}

.blank{

    border: 1px solid blue;

    height: 200px;
}

.start {
    width: 100vw;
    height: 107px;
    
    display: flex;
    align-items: center;        
    justify-content: space-between; 
    background-color: #27374D;
   
    


}

.start-text {
    position: absolute;           
    top: 15px;                    
    left: 345px;                  
    font-size: 50px;
    font-weight: bold;
    color: red;

    
}

.start-left {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.start-center {
    font-size: 50px;
    font-weight: bold;
    margin-right: 1100px;
    color: white;
}

.start-right {
    display: flex;
    gap: 20px;                   
}


.select-type {

    width: 1400px;
    height: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
    
    
    box-sizing: border-box;

}

.answer-type {

    font-size: 30px;
    margin-top: 200px;
   
    
    font-weight: bold;
}

.redDot{
    color: red;
}

#selectType-box {

    width: 1230px;
    height: 107px;
    background-color: white;
    border: 1px solid #d9d9d9;

    font-size: 35px;
    font-weight: bold;
    border-radius: 20px;
    color: #d9d9d9;
    margin-top: 10px;

    padding-left: 20px;
    

}

.option-font{
    color: black;
}


.select-typeContent {

    width: 1400px;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 300px;
    
    
    
    box-sizing: border-box;

}

.answer-typeContent {

    font-size: 30px;
    margin-top: 200px;
   
    
    font-weight: bold;
}


.input-answer-title {

    width: 1230px;
    height: 107px;
    background-color: white;
    border: 1px solid #d9d9d9;

    font-size: 35px;
    font-weight: bold;
    border-radius: 20px;
    color: #d9d9d9;
    margin-top: 15px;
    

    padding-left: 20px;
    

}

input::placeholder {
    color: #d9d9d9; 
    font-size: 35px;
}

.section-input-content{
    width: 1400px;

}

.input-content {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 1230px;
    height: 381px;
    background-color: white;
    border: 1px solid #d9d9d9;

    margin-top: 20px;

    font-size: 35px;
    font-weight: bold;
    border-radius: 20px;
    color: #d9d9d9;
   

    padding-left: 20px;

}

.submit-btn-section {

    display: flex;
    flex-direction: row;

    
    margin-top: 700px;

}

.submit-btn {

    width: 466px;
    height: 107px;
    border-radius: 20px;
    background-color: #27374D;
    color: white;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;

    margin-left: 467px;
   
    


}



.div-selectbox{

   
    
}

