.questionList-container {

    box-sizing: border-box;

    margin-left: 10%;
    margin-right: 10%;
    width: 1000px;
    height: 1000px;


    border: 1px solid pink;
    
}

.top-title {
    width: 300px;
    height: 500pxs;
}

.login-area {

    width: 100%;
    height: 1500px;

    border: 1px solid black;

    

}


.logo-area {

    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 25%;
    margin-bottom: 5%;

}
