.signUp-content {

    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}

.blank{
    width: 100%;
    height: 100px;
    background-color: white;
}

#sign {
    width: 100%;
    height: 150px;
    color: white;
    background-color: #27374d;
    font-size: 50px;

    display: flex;
    align-items: center;
    align-content: center;

    padding-left: 345px;
    
    font-weight: bold;
    
}

.span-center{

    
    width: 1230px;
    height: 100px;

}


.id-top{

    margin-top: 300px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}

.id-top > *{
    color: red;
}

.id-input{

    margin-left: 345px;
    width: 1230px;
    height: 100px;
    border-radius: 20px;
    font-size: 35px;
    border-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding-left: 30px;
    
}




.id-bottom{

    margin-top: 20px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}


.pw-top{

    margin-top: 100px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}


.pw-top > *{
    color: red;
}

.pw-input{

    margin-left: 345px;
    width: 1230px;
    height: 100px;
    border-radius: 20px;
    font-size: 35px;
    border-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding-left: 30px;
    
    
}

.pw-bottom{

    margin-top: 20px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}



.pwcon-top{

    margin-top: 100px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}


.pwcon-top > *{
    color: red;
}

.pwcon-input{

    margin-left: 345px;
    width: 1230px;
    height: 100px;
    border-radius: 20px;
    font-size: 35px;
    border-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding-left: 30px;
    
}

.pwcon-bottom{

    margin-top: 20px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}



.email-top{

    margin-top: 100px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}


.email-top > *{
    color: red;
}

.email-input{

    margin-left: 345px;
    width: 1230px;
    height: 100px;
    border-radius: 20px;
    font-size: 35px;
    border-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding-left: 30px;
    
}

.email-bottom{

    margin-top: 20px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}


.nick-top{

    margin-top: 100px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}

.nick-top > *{
    color: red;
}

.nick-input{

    margin-left: 345px;
    width: 1230px;
    height: 100px;
    border-radius: 20px;
    font-size: 35px;
    border-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding-left: 30px;
    
}

.nick-bottom{

    margin-top: 20px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}



.tel-top{

    margin-top: 100px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}

.tel-top > *{
    color: red;
}

.tel-input{

    margin-left: 345px;
    width: 1230px;
    height: 100px;
    border-radius: 20px;
    font-size: 35px;
    border-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding-left: 30px;
    
}

.tel-bottom{

    margin-top: 20px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}


.addr-top{

    margin-top: 100px;
    margin-left: 345px;
    margin-bottom: 30px;   
    font-weight: bold;
    color: #27374D;
}

.addr-top > span{
    color: red;
}

.addr-input{

    margin-left: 345px;
    width: 1230px;
    height: 100px;
    border-radius: 20px;
    font-size: 35px;
    border-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding-left: 30px;
    
}

.addr-Btn{

    margin-left: 1065px;
    width: 150px;
    height: 50px;
    border-radius: 10px;

}


#sign-Btn{

    margin-top: 300px;
    margin-left: 700px;
    margin-bottom: 100px;
    width: 466px;
    height: 116px;
    background-color: #27374D;
    color: white;

    font-size: 35px;
    border-radius: 10px;
    cursor: pointer;

}

/* 메세지 색상 지정 */
.confirm{ color : green; }
.error{ color : red; }

















