<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${communityName}+'챗봇방'">전시 챗봇방</title>
    
    <link rel="stylesheet" th:href="@{/css/chatbot/chatbot-style.css}">
    <link rel="stylesheet" th:href="@{/css/main-style.css}">

    <script src="https://kit.fontawesome.com/a2e8ca0ae3.js" crossorigin="anonymous"></script>
    <!-- 좋아요 heart? -->
    <!-- <script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script> -->
    <!-- notification -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

</head>
<body>

    <!-- 전체를 감싸는 태그 -->
    <div class="page-wrapper">
        <main>

            <!-- 헤더 -->
            <!-- <header class="main-header">header</header> -->
            <!-- <div th:replace="common/header :: header"></div> -->
            <th:block th:replace="~{common/header}"></th:block>    
            
            <!-- 네비게이션 -->
            <!-- <nav class="main-nav"></nav> -->
    
            <!-- 본문 -->
            <div th:utext="${exhibitionToString}"></div>
            
            <div class="content-wrapper">
                <!-- 본문 상단 영역 -->
                <div class="content-top">
                    <div class="content-top-container button">
                        <div class="btn-arrow-wrapper" id="btnSelectArrow">
                            <span class="exhibition-select-btn">전시선택</span>
                            <span class="arrow">&gt;</span>
                        </div>
                        <span class="exhibitionList-search-input">전시 제목</span>
                    </div>

                    <!-- [ [${loginMember}] ] ok -->
                    <!-- [ [${roomList}] ] ok -->

                    <!-- 팝업 검색: to-do 채팅상대에서 전시게시물로 바꿀것 -->
                    <div id="addTargetPopupLayer" class="popup-layer-close">  
                        <span id="closeBtn">&times</span>

                        <div class="target-input-area">
                            <input type="search" id="targetInput" placeholder="전시게시물 제목 또는 제목 검색 키워드를 입력하세요" autocomplete="off">
                        </div>

                        <ul id="resultArea">
                            <li class="result-row"  data-id="1">
                                <img class="result-row-img" th:src="@{/images/board/exhibition/monet_pond.jpg}">
                                <span><mark>모네</mark>특별전</span>
                            </li>
                            <li class="result-row">일치하는 전시게시물이 없습니다</li>
                        </ul>
                    </div>

                </div>
    
                <!-- 본문 중앙 영역 -->
                <div class="content-middle">
                        
                    <div class="content-middle-container">
                        <div class="section-container left"   id="sectionContainerLeft">
                            <div class="menu-faq-wrapper">

                                <div class="menu-container">
                                    <span class="btn-menu home" id="menuHome">
                                        <span class="home-main">&#127968;</span>
                                        <span class="home-main-btn">메인으로</span>
                                    </span>
                                    <div class="btn-menu refresh" id="menuRefresh">
                                        <span class="circle-refresh">&#8635;</span>
                                        <span class="circle-refresh-btn">새로고침</span>
                                    </div>                                    
                                </div>

                                <div class="faq-title" style="font-weight: bold;">자주 묻는 질문</div>
                                <div class="faq-container">
                                    <div class="btn-faq author" id="faqAuthor">                                       
                                        <span class="faq-author"><p>작가분에 대해 알고 싶어요.</p></span>
                                    </div>                                    
                                    <div class="btn-faq artwork" id="faqArtwork">                                       
                                        <span class="faq-artwork"><p>작품에 대해 궁금한게 있어요.</p></span>
                                    </div> 
                                    <div class="btn-faq explain" id="faqExplain">                                       
                                        <span class="faq-explain"><p>작품이 어려워요. 쉬운 해설이 필요해요.</p></span>
                                    </div> 
                                    <div class="btn-faq suggest" id="faqSuggest">                                       
                                        <span class="faq-suggenst"><p>작품이 흥미로와요. 함께 관람해 볼만한 다른 작품들도 추천해 주세요.</p></span>
                                    </div> 
                                    <div class="btn-faq facility" id="faqFacility">                                       
                                        <span class="faq-facility"><p>작품 전시관에 대해 설명해 주세요.</p></span>
                                    </div> 
                                </div>
                            </div>

                        </div>    
                        
                        <div class="section-container right" id="sectionContainerRight">

                            <section class="section right">

                                <div class="chatting-content">
                                    <ul class="display-chatting", id="displayChatting">
                                        샘플 화면 
                                        <li class="my-chat">
                                            <div>
                                                <span class="chatDate">12:11</span>
                                                <p class="chat">dkdkdkdkdkdkddfdsfdsf fdsfdsf dsfdsfdsfdsf fsdf sdf sdf fsdf fdsf sdf sd  dsfdsf  fdsfdsf 오늘 수업 어땠어?</p>
                                                <img th:src="@{/images/board/exhibition/member/penguin.jpeg}">
                                            </div>
                                        </li>


                                        <li class="target-chat">
                                            <img th:src="@{/images/board/exhibition/member/penguin02_400x400.jpg}">
                                            <div>
                                                <b>나챗봇</b>  <br>
                                                <p class="chat">fjkdlsajfkldajfkldjsakfl fdsaf  fasf  fdsaf!<br> fdaffdsaf   fdsfa fdsaf~~~~~</p>
                                                <span class="chatDate">14:05</span>
                                            </div>
                                        </li>
                                    </ul>  
                                
                                    <div class="input-area">
                                        <!-- <textarea id="inputChatting" rows="3" onkeyup="inputEnter(event)"></textarea> -->
                                        <textarea id="inputChatting" rows="3" ></textarea>
                                        <!-- <button id="btnSendChatting" onclick="sendMessage()">&#128232;</button> -->
                                        <button id="btnSendChatting" >&#128232;</button>
                                    </div>
                                </div>
                            </section>
                        </div> 
                        
                    </div>
    
                </div>
    
                <!-- 본문 하단 영역 -->
                <div class="content-bottom">
                </div>
    
            </div>

        </main>
        
        <!-- ######################################################## -->
        <!-- 푸터 -->
        <!-- <footer class="main-footer">footer</footer> -->
        <!-- footer.html 추가 -->
        <!-- <div th:replace="common/footer :: footer"></div> -->
        <th:block th:replace="~{common/footer}">footer.html</th:block>         

        <!-- confirm-alert-message window 창: footer.html에서 이미 declared 됐음 -->
        <!-- <script th:inline="javascript">
            const message = /*[[${message}]]*/ "전달 받은 message";

            console.log(message)

            if (message != null) alert(message);

        </script> -->

        <!-- 우측 상단 로그인 멤버 정보/ Notification 표시: 잠시 turn-off -->
        <script th:src="@{/js/main.js}"></script>


        <!-- 로그인 정보 JS 변수 (모든 페이지에서 공통으로 렌더링됨): header.html에서 이미 declared 됐음 -->
        <!-- <script th:inline="javascript">
            const notificationLoginCheck = /*[[${session.loginMember} ? true : false]]*/ false;
            const notificationDefaultImage = /*[[@{/images/common/user.svg}]]*/ "/images/common/user.svg";
        </script> -->

    </div>
    
    <!--------------------------------------- sockjs를 이용한 WebSocket 구현을 위해 라이브러리 추가 ---------------------------------------------->
    <!-- JS콘솔창에 sse오류가 너무떠서 잠시 turn-off...해두자... -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <script th:inline="javascript">
        // 로그인한 회원 번호를 전역변수로 선언 -> 아래에 링크된 chatting.js에서 사용 
        // ==> 챗봇의 경우는 loginMemberNo ==11, memberNickname='나챗봇'으로 고정되어 있다.
        const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/ "로그인한 회원 번호";

        const memberNickname = /*[[${session.loginMember.memberNickname}]]*/ "로그인한 회원 닉네임";
    </script>

    <script th:src="@{/js/chatbot/chatbot.js}"></script>

</body>
</html>
