<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Java를 이용한 공공데이터</h1>

    <h2>api id 삽입</h2>
    <button> <a th:href="@{/id}">시작</a></button>
    
    <h3>api 디테일 삽입</h3>
    <button><a th:href="@{/detail}">시작</a></button>

    <h3>장소데이터 삽입</h3>
    <button><a th:href="@{/place}">시작</a></button>

    <h3>팀 프로젝트 db에 데이터 전달</h3>
    <button><a th:href="@{/team}">시작</a></button>
</body>
</html>